/* global page styles */
html, body {
  background: #fff;
  font-family: arial;
}

/* global main div styles */
#main {
  text-align: center;
  width: 90%;
  background: #eaeaea;
  border: 5px solid black;
  border-radius: 10px;
  margin: 0 auto;
}

/* styles for page title h1 */
#res_number {
  font-size: 42px;
}

/* global table styles */
#res_table {
  margin: 0 auto 25px auto;
  width: 30%;
  padding-bottom: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 4px solid black;
}

/* global tr, td table styles */
#res_table th,
#res_table td {
  border: 2px solid black;
}

/* global table header styles */
#res_table th {
  padding: 12px 0;
  background-color: #ffb4b4;
  color: #000;
  font-size: 25px;
  width: 33%;
}

#res_table td {
  font-size: 18px;
}

/* global button styles */
button {
  border: none;
  border-radius: 20px;
  background: #33c6ff;
  margin: 0 5px 10px 5px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
}

/* remove blue outline on button click */
button:focus {
  outline: none;
}

/* change button color on click */
button:active {
  background: #21a7f9;
}
