<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- standard characters -->
  <meta charset="utf-8">
  <!-- ie edge shim -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- viewport meta tag for responsive development -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- page tab text -->
  <title>Reservoir Volumes</title>
  <!-- css file link -->
  <link rel="stylesheet" href="../css/styles.css">
</head>
  <body>
    <!-- main div for all body content -->
    <div id='main'>
      <h1 id='res_number'></h1>
      <table id='res_table'>
        <thead>
          <tr>
            <th id='table_header' colspan='3'>Volume Table</th>
          </tr>
          <tr>
            <th>Depth</th>
            <th>Gallons</th>
            <th>% Full</th>
          </tr>
        </thead>
        <tbody id='table_body'>
        </tbody>
      </table> <!-- ends table -->
    </div> <!-- ends main div -->
    <!-- custom js script file -->
    <script src='../js/main.js'></script>
  </body>
</html>
<!-- TODO:
          array of objects to hold all the data for each reservoir?
          use loop to generate table data, but manually add the last td since it's not typically in the same increments as the looping variable
          create larger function which stores each array and passes it to the createRows function?
          make a function to hold all the reservoir data, and then call it as needed?
          refactor the get_text function with a loop. reduce the number of if else if statements
          check which reservoirs dont need a special entry for 100% full
-->
